.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #3b5249 ;
  height: 10%;
  padding: 20px;
  color: rgb(24, 22, 22);
}

.App-title {
  font-size: 1.5em;
}

.Dashboard {
display: flex;
flex-direction: row;
height: 88%;
}

/* .col{
  height: 80%
} */
.col-1{
width: 25%;
background-color: #afd4c0
}

.dashboard_content{

  width: 50%;
  background-color:#e5f4ec;


}
.col-2{
  width: 25%;
  background-color: #afd4c0

}

.content_header{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

}

.add_button{
  border: none;
  background-color: #8aea92;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin: 20px;
}

.heading{
  color: #3b5249;
  font-size: 40px;
  margin: 20px;
}

.home_listing{
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}

.house{
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.wiz_iniput_container{
  margin: 20px auto;
  width: 70%
}
.wiz_input{
  margin: 10%;
  float: left;
  font-size: 18px;
  font-weight: 700;

}


